*{
    margin: 0;
    padding: 0;
    outline: none;
}
.admin-menu{

    width: 250px;
    background-color: #152d3d;

    border-right: 1px solid #ddd;
    /*height 100% 그냥 적용 안됨 부모개념이 있어야 채워짐*/
    position: fixed; /*공중에 떠서 공강을 차지하지 않음*/
    height: 100%; /*fixed를 해서 높이 100% 가능*/
    display: block;
}
.admin-menu>p{
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.admin-menu a{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 200;

}
a{
    position: relative;

}
.chevron{
    top: 13px;
    right: 10px;
    position: absolute;
}
.person{
    margin-left: 55px;
    top:11px;
    left: 1px;
    position: absolute;
}
.sub-menu{
    background-color: #19222a;

    display: none;
}
li{
    list-style-type: none;
}

.table-title{
    padding-top: 30px;
    padding-left: 350px;
}
.title{
	margin-bottom:20px;
}
.header-top{
	margig-left:350px
}
