*{
    margin: 0;
    padding: 0;
    outline: 0;
}
@font-face {
    font-family: 'nn-r';
    src: url(/font/NanumGothic.otf);
}

.login-wrap{
    margin: 0 auto;
    margin-top: 150px;
    width: 1200px;
   
}
.login-top{
    margin: 0 auto;
    width: 400px;
    text-align: center;
   
}
.login-content-wrap{
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
   
}
.login-content input{
    margin: 10px 0;
    width: 400px;
    height: 30px;
    border-style: none;
    border-bottom: 1px solid lightgray;
}
.submit-btn{
    padding-top: 10px;
}
.submit-btn>button{
    border-style: none;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    
}
.login-content-bottom{
    width: 400px;

    margin-top: 20px;
    height: 50px;
}

.login-content-bottom>div>a{
    width: calc(100% / 3);
    overflow: hidden;
    height: 50px;
    display: inline-block;
    
}

.login-content-bottom a{
    text-decoration: none;
    color: black;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0;
    line-height: 50px;
    text-align: center;
}
.login-content-wrap{
    margin-bottom: 150px;
}






