

li{
    list-style-type: none;
}

.page-content{
    display: flex;
}
.mypage-navi-wrap{
    width: 250px;
    padding-left: 30px;
}

.mypage-navi-box{
}
.mypage-content{
    width: 1000px;
    margin-bottom: 200px;
}
.mypage-user-wrap{
    /* width: 800px; */
    text-align: center;
    margin-top: 30px;
}
.mypage-user-profile{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10%;
    padding: 20px;
    padding-top: 50px;
}
.mypage-user-info>div{
    font-family: nn-b;
    font-size: 20px;
    margin-top: 5px;
}
.mypage-user-text{
    margin-top: 20px;
}
.mypage-user-text>div{
    font-size: 14px;
    margin-top: 5px;
}

.mypage-navi-title{
    font-family: nn-b;
    font-size: 20px;
    padding-left: 10px;
    color: #4e4e4e;
}

.mypage-subnavi>li{
    padding-left: 30px;
    margin: 10px;
}

.mypage-subnavi>li>a{
    color: #ccc;
}

.mypage-deal-wrap{
}

.mypage-deal-content{
    /*width: 800px;*/
    margin: 0 auto;
}

.mypage-deal-content>div{
    margin-top: 30px;
}

.mypage-deal-title{
    font-family: nn-b;
    padding: 30px;
    font-size: 18px;
}

.tbl{
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

.tbl th,td{
    padding: 20px;
}


.mypage-active{
	color: #4e4e4e !important;
	font-family:nn-b;
}